{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Tableau de bord{% endblock %}

{% block content %}
    {{ parent() }}
    <div id="futures-trips" class="px-4 md:px-8">
        <div class="text-3xl font-roboto-medium">Voyages à venir</div>
        <div class="text-2xl font-roboto-thin mb-5">Budgètes et planifies tes prochaines vacances...</div>
        {% if not futureTrips %}
            <div class="text-xl bg-red-400 py-3 px-5 rounded-2xl text-white">Il semblerait que tu n'aies aucun voyage à
                venir.
            </div>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-3">
                {% for trip in futureTrips %}
                    <div class="grid grid-cols-2 gap-3 bg-box dark:bg-box-dark p-3 rounded-3xl">
                        <div class="bg-cover bg-center bg-no-repeat w-full h-full rounded-2xl"
                             style="background-image: url({{ trip.image }})"></div>
                        <div class="flex flex-col justify-between gap-3">
                            <div class="rounded-2xl py-2.5 px-5 border border-body dark:border-body-dark">
                                <div class="font-roboto trip-name">{{ trip.name }}</div>
                                {% if trip.returnDate %}
                                    <div class="text-sm">{{ trip.departureDate|date('j M. Y') ~ ' - ' ~ trip.returnDate|date('j M. Y') }}</div>
                                {% elseif trip.departureDate %}
                                    <div class="text-sm">Départ le {{ trip.departureDate|date('j M. Y') }}</div>
                                {% else %}
                                    <div class="text-sm">Dates non définies</div>
                                {% endif %}
                            </div>
                            <a href="#" class="rounded-2xl py-2.5 px-5 bg-gray-700 text-white dark:bg-white dark:text-gray-700 w-fit m-auto">
                                Consulter
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="passed-trips" class="px-4 md:px-8 mt-5">
        <div class="text-3xl font-roboto-medium">Voyages passés</div>
        <div class="text-2xl font-roboto-thin mb-5">Consultes l'historique de tes voyages...</div>
        {% if not passedTrips %}
            <div class="text-xl bg-red-400 py-3 px-5 rounded-2xl text-white">
                Ton historique de voyage est vide. Ton banquier doit être fier de toi!
            </div>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-3">
                {% for trip in passedTrips %}
                    <div class="grid grid-cols-2 gap-3 bg-box dark:bg-box-dark p-3 rounded-3xl">
                        <div class="bg-cover bg-center bg-no-repeat w-full h-full rounded-2xl"
                             style="background-image: url({{ trip.image }})"></div>
                        <div class="flex flex-col justify-between gap-3">
                            <div class="rounded-2xl py-2.5 px-5 border border-body dark:border-body-dark">
                                <div class="font-roboto trip-name">{{ trip.name }}</div>
                                <div class="text-sm">{{ trip.departureDate|date('j M. Y') ~ ' - ' ~ trip.returnDate|date('j M. Y') }}</div>
                            </div>
                            <a href="#" class="rounded-2xl py-2.5 px-5 bg-gray-700 text-white dark:bg-white dark:text-gray-700 w-fit m-auto">
                                Consulter
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
