{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="flex flex-col gap-4 w-full">
        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-6 px-8">
            <div class="text-2xl font-poppins-semi-bold">
                Ajout d'un document
            </div>
            <div class="mb-5 text-sm font-poppins">
                Ajoutez une facture, une réservation ou des billets par exemple. Vous pourrez les retrouver dans
                l'espace fichiers de votre voyage.
            </div>
            {{ form_widget(form.name) }}
            <div class="mt-4">
                {{ form_widget(form.file) }}
            </div>

            <button class="mt-5 tracking-wide bg-teal-500 border-2 border-teal-400 text-white w-full py-4
                                    rounded-full flex items-center justify-center hover:bg-teal-700
                                    transition-all duration-300 ease-in-out
                                    focus:shadow-outline focus:outline-none">
                Ajouter le document
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
