{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    {{ form_start(form) }}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="col-1 flex flex-col gap-4">
            <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-6 px-8">
                <div class="text-2xl font-poppins-semi-bold">
                    Nom de la dépense
                </div>
                <div class="mb-5 text-sm font-poppins">
                    Renseignes le nom de la dépense que tu souhaites ajouter.
                </div>
                {{ form_widget(form.name) }}
            </div>

            <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-6 px-8">
                <div class="text-2xl font-poppins-semi-bold">
                    Date et heure d'achat
                </div>
                <div class="mb-5 text-sm font-poppins">
                    Quand cette dépense a-t-elle été effectuée ?
                </div>
                {{ form_widget(form.purchaseDate) }}
            </div>
        </div>

        <div class="col-2 flex flex-col gap-4">
            <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-6 px-8">
                <div class="text-2xl font-poppins-semi-bold">
                    Informations tarifaires
                </div>
                <div class="mb-5 text-sm font-poppins">
                    Renseignes le montant de la dépense.
                </div>
                <div class="flex flex-col md:flew-row gap-4">
                    {{ form_widget(form.price) }}
                </div>
            </div>

            <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-6 px-8">
                <div class="text-2xl font-poppins-semi-bold">
                    Achat
                </div>

                <div class="mb-5 text-sm font-poppins">
                    Qui est à l'origine du paiement de cette dépense ?
                </div>
                <div class="flex flex-col md:flew-row gap-4">
                    {{ form_widget(form.payedBy) }}
                </div>
            </div>

            <div class="flex gap-4 flex-wrap justify-center">
                <button class="tracking-wide bg-teal-500 border-2 border-teal-400 text-white py-4 px-7 rounded-full
                                    flex items-center justify-center hover:bg-teal-700
                                    transition-all duration-300 ease-in-out
                                    focus:shadow-outline focus:outline-none">
                    Enregistrer
                </button>
                {% if expense.id %}
                    <a href="{{ path('trip_on_site_delete', {'trip': trip.id, 'expense': expense.id}) }}"
                       class="tracking-wide bg-red-500 border-2 border-red-400 text-white py-4 px-7 rounded-full
                                                        flex items-center justify-center hover:bg-red-700
                                                        transition-all duration-300 ease-in-out
                                                        focus:shadow-outline focus:outline-none">
                        Supprimer
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}