{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6">
        <div class="mb-2 flex flex-row items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.902 7.098a3.75 3.75 0 0 1 3.903-.884.75.75 0 1 0 .498-1.415A5.25 5.25 0 0 0 8.005 9.75H7.5a.75.75 0 0 0 0 1.5h.054a5.281 5.281 0 0 0 0 1.5H7.5a.75.75 0 0 0 0 1.5h.505a5.25 5.25 0 0 0 6.494 2.701.75.75 0 1 0-.498-1.415 3.75 3.75 0 0 1-4.252-1.286h3.001a.75.75 0 0 0 0-1.5H9.075a3.77 3.77 0 0 1 0-1.5h3.675a.75.75 0 0 0 0-1.5h-3c.105-.14.221-.274.348-.402Z"
                      clip-rule="evenodd"></path>
            </svg>
            <div class="font-poppins-semi-bold text-xl">Détails de la balance</div>
        </div>
        <div class="text-sm">
            Suivez en un coup d'oeil les dépenses effectuées par chaque voyageur pour ce séjour. Vous n'avez rien à
            faire. Tout est fait afin de déterminer automatiquement qui doit quoi, et à qui.
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
        <div class="col-1 flex flex-col shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6">
            <div class="mb-2">
                <div class="font-poppins-semi-bold text-xl mb-2">Equilibrage</div>
                <div class="text-sm font-bold leading-4">Suivi des dépenses effectuées et notifiées comme payées par
                    chaque voyageur.
                </div>
            </div>
            {% for traveler, amounts in data.balances %}
                <div class="flex flex-col gap-2 my-2">
                    <div class="leading-5 text-xl mb-2">{{ traveler }}</div>
                    <div class="flex flex-wrap gap-2">
                        <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                            LOGEMENTS <span
                                    class="font-bold">{{ amounts.accommodations is defined ? amounts.accommodations : 0 }}€</span>
                        </div>
                        <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                            TRANSPORTS <span
                                    class="font-bold">{{ amounts.transports is defined ? amounts.transports : 0 }}€</span>
                        </div>
                        <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                            ACTIVIT&Eacute;S <span
                                    class="font-bold">{{ amounts.activities is defined ? amounts.activities : 0 }}€</span>
                        </div>
                        <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                            D&Eacute;PENSES DIVERSES <span
                                    class="font-bold">{{ amounts.variousExpenses is defined ? amounts.variousExpenses : 0 }}€</span>
                        </div>
                        <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                            SUR PLACE <span
                                    class="font-bold">{{ amounts.onSite is defined ? amounts.onSite : 0 }}€</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="w-fit bg-slate-400 rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-white">
                            <span class="font-bold">TOTAL {{ amounts.paid }}€</span>
                        </div>
                        <div class="w-fit rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-white {{ amounts.amountDue < 0 ? 'bg-green-500' : amounts.amountDue > 0 ? 'bg-red-500' : 'bg-gray-400' }}">
                            <span class="font-bold">{{ amounts.amountDue|invert_sign }}€</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-1 flex flex-col gap-4 shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6">
            <div>
                <div class="font-poppins-semi-bold text-xl mb-2">Remboursements</div>
                <div class="text-sm font-bold leading-4">Suivi des remboursements pour savoir qui doit combien et à
                    qui.
                </div>
            </div>
            {% if data.refund is defined and data.refund %}
                {% for refund in data.refund %}
                    <div class="line">
                        - Le voyageur <span class="font-bold">{{ refund.from }}</span> doit la somme de
                        <span class="font-bold underline">{{ refund.amount }}€</span> au voyageur
                        <span class="font-bold">{{ refund.to }}</span>
                    </div>
                {% endfor %}
            {% else %}
                <div class="mt-4 mb-2 text-sm">
                    Aucun remboursement entre voyageurs n'est nécessaire à l'heure actuelle.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}