{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - {{ trip.name }}{% endblock %}

{% block content %}
    <input id="tripId" type="hidden" value="{{ trip.id }}">

    <div id="share-modal"
         class="hidden fixed inset-0 z-50 h-screen w-screen place-items-center bg-black bg-opacity-60">
        <div class="relative px-8 py-6 w-4/5 md:w-3/5 xl:w-2/5 bg-white rounded-3xl shadow dark:bg-gray-700">
            <p>
                Tu peux partager ce voyage avec d'autres utilisateurs afin de vous organiser.
            </p>
            <p class="mt-4">
                Entre l'e-mail de la personne que tu souhaites ajouter.
                Si cette personne possède un compte elle pourra décider de prendre part à ce voyage.
            </p>
            <p class="mt-4 text-red-500 font-bold hidden" id="error-share">
                Veuillez saisir une adresse mail valide.
            </p>
            <input type="email" name="email-share" id="email-share" required
                   placeholder="E-mail de la personne à inviter" aria-label="E-mail"
                   class="w-full my-4 px-8 py-4 rounded-2xl font-medium bg-gray-100 border border-gray-200
                          placeholder-gray-400 text-sm focus:outline-none focus:border-gray-400 focus:bg-white
                          dark:bg-transparent dark:border-gray-300 dark:focus:bg-transparent dark:placeholder-gray-300">
            <div class="flex shrink-0 flex-wrap items-center pt-4 justify-center md:justify-end gap-3">
                <button id="close-share-modal"
                        class="tracking-wide bg-red-400 text-white w-fit py-1.5 px-3 rounded-2xl border-2 border-red-300
                               flex items-center justify-center hover:bg-red-500 transition-all duration-300
                               ease-in-out focus:shadow-outline focus:outline-none"
                        type="button">
                    Annuler
                </button>
                <button id="form-share-button"
                        class="tracking-wide bg-teal-500 border-2 border-teal-400 text-white w-fit py-1.5 px-3 rounded-2xl
                               flex items-center justify-center hover:bg-teal-700 transition-all duration-300
                               ease-in-out focus:shadow-outline focus:outline-none"
                        type="submit">
                    Envoyer l'invitation
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-col xl:flex-row items-start gap-4 px-4 xl:px-8">
        <div class="w-full xl:w-1/3 flex flex-col gap-4 relative xl:sticky {{ app.request.get('_route') != 'trip_show' ? 'top-0' : 'md:top-6' }}">
            {% if app.request.get('_route') != 'trip_show' %}
                {% if app.request.get('_route') == 'trip_planning_new' or app.request.get('_route') == 'trip_planning_edit' %}
                    <a href="{{ path('trip_planning_index', {'trip': trip.id}) }}" class="shadow rounded-2xl py-2.5 px-5 bg-gray-700 text-white dark:bg-white dark:text-gray-700
                        w-full font-bold text-center m-auto border-2 border-gray-500 dark:border-gray-300 p-3 flex items-center gap-4 justify-start
                        transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd"
                                  d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
                                  clip-rule="evenodd"></path>
                        </svg>

                        Revenir au planning
                    </a>
                {% else %}
                    <a href="{{ path('trip_show', {'trip': trip.id}) }}" class="shadow rounded-2xl py-2.5 px-5 bg-gray-700 text-white dark:bg-white dark:text-gray-700
                        w-full font-bold text-center m-auto border-2 border-gray-500 dark:border-gray-300 p-3 flex items-center gap-4 justify-start
                        transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd"
                                  d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
                                  clip-rule="evenodd"></path>
                        </svg>

                        Revenir aux détails du voyage
                    </a>
                {% endif %}
            {% endif %}
            <div class="{{ app.request.get('_route') != 'trip_show' ? 'hidden md:flex' : 'flex' }} flex-col gap-4">
                <div class="shadow rounded-3xl bg-box dark:bg-box-dark p-3 w-full">
                    <div class="w-full h-64 rounded-2xl overflow-hidden bg-no-repeat bg-cover bg-center trip-image relative
                            before:dark:opacity-60 before:opacity-50 before:absolute before:top-0
                            before:right-0 before:bottom-0 before:left-0 before:bg-black"
                         style="background-image:url({{ trip.image }});">
                        <div class="py-3 px-5 absolute bottom-2.5 left-3 text-white">
                            {% if trip.country %}
                                <div class="font-roboto-medium text-3xl">{{ trip.country.name }}</div>
                            {% endif %}
                            <div class="font-roboto-medium text-xl leading-5">{{ trip.name }}</div>
                        </div>
                    </div>
                </div>
                {% if app.user == trip.traveler %}
                    <a href="{{ path('trip_edit', {'trip': trip.id}) }}" class="shadow rounded-2xl py-2.5 px-5 bg-blue-500 text-white
                        w-full font-bold text-center m-auto border-2 border-blue-400 hover:bg-blue-600
                        transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                        Editer le voyage
                    </a>
                {% endif %}
                <div class="flex gap-4 flex-row w-full">
                    <div class="rounded-3xl shadow bg-teal-500 text-white p-5 flex-1 flex items-center justify-center">
                        <div class="text-center">
                            <div class="font-poppins-semi-bold text-4xl">{{ trip.tripTravelers.count }}</div>
                            <div class="font-poppins-semi-bold text-2xl">
                                voyageur{{ trip.tripTravelers.count > 1 ? 's' }}</div>
                            <div class="font-poppins-semi-bold text-sm">
                                prêt{{ trip.tripTravelers.count > 1 ? 's' }} à partir
                            </div>
                            <a href="{{ path('trip_traveler_index', {'trip': trip.id}) }}" class="shadow block rounded-xl py-1.5 px-3
                        w-fit mt-2.5 m-auto bg-white text-gray-700 border-gray-300 font-bold text-center border-2 text-sm
                        hover:bg-gray-200 transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                                Gérer les voyageurs
                            </a>
                        </div>
                    </div>
                    <div class="rounded-3xl shadow bg-amber-400 text-white p-5 flex-1 flex items-center justify-center">
                        <div class="text-center">
                            {% if countDaysBeforeOrAfter is iterable %}
                                <div class="font-poppins-semi-bold text-4xl">{{ countDaysBeforeOrAfter.days }}</div>
                                <div class="font-poppins-semi-bold text-2xl">
                                    jour{{ countDaysBeforeOrAfter.days > 1 ? 's' }}
                                    {{ countDaysBeforeOrAfter.before ? 'passé' : 'restant' }}{{ countDaysBeforeOrAfter.days > 1 ? 's' }}
                                </div>
                                <div class="font-poppins-semi-bold text-sm">
                                    {{ countDaysBeforeOrAfter.before ? 'depuis cette aventure' : 'avant cette aventure' }}
                                </div>
                            {% else %}
                                {% if countDaysBeforeOrAfter == 'ongoing' %}
                                    <div class="font-poppins-semi-bold text-2xl">C'est le moment...</div>
                                    <div class="font-poppins-semi-bold text-xl">Bon voyage!</div>
                                {% else %}
                                    <div class="font-poppins-semi-bold text-4xl">...</div>
                                    <div class="font-poppins-semi-bold text-2xl">jours restant</div>
                                    <div class="font-poppins-semi-bold text-sm">avant cette aventure</div>
                                {% endif %}
                            {% endif %}

                            <div class="font-roboto text-sm mt-4">
                                {% if trip.departureDate and trip.returnDate %}
                                    {{ trip.departureDate|date('j M. Y') }} - {{ trip.returnDate|date('j M. Y') }}
                                {% elseif trip.departureDate %}
                                    Départ prévu le {{ trip.departureDate|date('j M. Y') }}
                                {% else %}
                                    Dates de séjour non définies
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.request.attributes.get('_route') != 'trip_traveler_index' %}
                    <div id="share-modal-button" class="cursor-pointer shadow rounded-2xl py-2.5 px-5 bg-rose-400 text-white
                        w-full font-bold text-center m-auto border-2 border-rose-300 hover:bg-rose-500
                        transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                        Partager le voyage
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="w-full xl:w-2/3">
            {% block bodyTrip %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shareTrip') }}
{% endblock %}