{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z"
                          clip-rule="evenodd"></path>
                    <path fill-rule="evenodd"
                          d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z"
                          clip-rule="evenodd"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Coût du séjour</div>
            </div>
            <div class="flex gap-3 flex-wrap text-sm">
                <div class="flex gap-1.5 flex-col">
                    <div class="w-fit bg-body rounded-full px-3 py-0.5 flex flex-row items-center gap-1.5 text-black">
                        <span class="text-sm">TOTAL</span>
                        <span class="text-lg font-bold">{{ budget.total }}€</span>
                    </div>

                    {% if trip.tripTravelers.count > 1 %}
                        <div class="w-fit bg-body rounded-full px-3 py-0.5 flex flex-row items-center gap-1.5 text-black">
                            <span class="text-sm">PAR PERSONNE</span>
                            <span class="text-lg font-bold">{{ (budget.total / trip.tripTravelers.count)|round(2) }}€</span>
                        </div>
                    {% endif %}
                </div>

                <div class="flex gap-2">
                    <div class="flex items-center gap-1">
                        <div class="budget-pastille bg-teal-500"></div>
                        Déjà payé
                    </div>
                    <div class="flex items-center gap-1">
                        <div class="budget-pastille bg-red-500"></div>
                        Restant à payer
                    </div>
                </div>
            </div>

            <canvas id="budgetChart" class="mx-2 mt-6"></canvas>
            <div id="budgetNone" class="mx-2 mt-6 mb-2"></div>
        </div>

        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z"
                          clip-rule="evenodd"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Dépenses</div>
            </div>
            <div class="text-sm font-bold leading-4 mt-3.5">Cliquez sur une catégorie pour obtenir le détail des
                dépenses.
            </div>

            <div class="flex items-center gap-1 text-sm mt-2 -mb-2">
                <div class="budget-pastille bg-red-500"></div>
                Restant à payer
            </div>

            <a href="{{ path('trip_accommodations_index', {'trip': trip.id}) }}"
               class="flex justify-between gap-3 my-3 -ml-2.5 items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="bg-body dark:bg-body-dark rounded-full px-2.5 py-1.5 text-xl">&#127976;</div>
                    <div class="leading-3">
                        <div class="text-lg">Logements</div>
                        <small>Hôtel, Auberge, location Airbnb...</small>
                    </div>
                </div>
                <div class="flex flex-col text-right">
                    <span class="text-lg font-bold">{{ budget.details.reserved.accommodations }}€</span>
                    {% if budget.details.nonReserved.accommodations > 0 %}
                        <span class="text-sm font-bold text-red-500">{{ budget.details.nonReserved.accommodations }}€</span>
                    {% endif %}
                </div>
            </a>

            <a href="{{ path('trip_transports_index', {'trip': trip.id}) }}"
               class="flex justify-between gap-3 my-3 -ml-2.5 items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="bg-body dark:bg-body-dark rounded-full px-2.5 py-1.5 text-xl">&#128646;</div>
                    <div class="leading-3">
                        <div class="text-lg">Transports</div>
                        <small>Avion, train, transports en commun...</small>
                    </div>
                </div>
                <div class="flex flex-col text-right">
                    <span class="text-lg font-bold">{{ budget.details.reserved.transports }}€</span>
                    {% if budget.details.nonReserved.transports > 0 %}
                        <span class="text-sm font-bold text-red-500">{{ budget.details.nonReserved.transports }}€</span>
                    {% endif %}
                </div>
            </a>

            <a href="{{ path('trip_activities_index', {'trip': trip.id}) }}"
               class="flex justify-between gap-3 my-3 -ml-2.5 items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="bg-body dark:bg-body-dark rounded-full px-2.5 py-1.5 text-xl">&#127903;</div>
                    <div class="leading-3">
                        <div class="text-lg">Activités</div>
                        <small>Musées, zoos, parcs d'attractions...</small>
                    </div>
                </div>
                <div class="flex flex-col text-right">
                    <span class="text-lg font-bold">{{ budget.details.reserved.activities }}€</span>
                    {% if budget.details.nonReserved.activities > 0 %}
                        <span class="text-sm font-bold text-red-500">{{ budget.details.nonReserved.activities }}€</span>
                    {% endif %}
                </div>
            </a>

            <a href="{{ path('trip_various_expensive_index', {'trip': trip.id}) }}"
               class="flex justify-between gap-3 my-3 -ml-2.5 items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="bg-body dark:bg-body-dark rounded-full px-2.5 py-1.5 text-xl">&#128182;</div>
                    <div class="leading-3">
                        <div class="text-lg">Dépenses diverses</div>
                        <small>Assurance, VISA, forfait mobile...</small>
                    </div>
                </div>
                <div class="flex flex-col text-right">
                    <span class="text-lg font-bold">{{ budget.details.reserved.variousExpensive }}€</span>
                    {% if budget.details.nonReserved.variousExpensive > 0 %}
                        <span class="text-sm font-bold text-red-500">{{ budget.details.nonReserved.variousExpensive }}€</span>
                    {% endif %}
                </div>
            </a>

            <a href="{{ path('trip_on_site_index', {'trip': trip.id}) }}"
               class="flex justify-between gap-3 my-3 -ml-2.5 items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="bg-body dark:bg-body-dark rounded-full px-2.5 py-1.5 text-xl">&#128205;</div>
                    <div class="leading-3">
                        <div class="text-lg">Sur place</div>
                        <small>Courses, restaurant...</small>
                    </div>
                </div>
                <div class="flex flex-col text-right">
                    <span class="text-lg font-bold">{{ budget.details.onSite }}€</span>
                </div>
            </a>
        </div>

        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 flex flex-col justify-between">
            <div class="infos">
                <div class="mb-2 flex flex-row items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z"></path>
                        <path fill-rule="evenodd"
                              d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <div class="font-poppins-semi-bold text-xl">Equilibrage</div>
                </div>
                <div class="text-sm font-bold leading-4 mt-3.5">
                    <p>Suivi des dépenses et des remboursements à effectuer le cas échéant.</p>
                    <p class="mt-3">Seules les dépenses notifiées comme réglées sont prises en compte dans ce
                        calcul.</p>
                </div>
                {% for traveler, amounts in byTraveler|slice(0, 3) %}
                    <div class="flex flex-col gap-2 my-3">
                        <div class="leading-5">{{ traveler }}</div>
                        <div class="flex flex-row gap-2">
                            <div class="w-fit bg-body rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-black">
                                <span class="font-bold">{{ amounts['paid'] }}€</span>
                            </div>
                            <div class="w-fit rounded-xl px-3 py-0.5 flex items-center gap-1.5 text-white {{ amounts['amountDue'] < 0 ? 'bg-green-500' : amounts['amountDue'] > 0 ? 'bg-red-500' : 'bg-gray-400' }}">
                                <span class="font-bold">{{ amounts['amountDue']|invert_sign }}€</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="footer">
                <a href="{{ path('trip_balance_details', {'trip': trip.id}) }}" class="shadow rounded-2xl py-2.5 px-5
                        bg-gray-700 text-white border-gray-500 hover:bg-gray-800 font-bold text-center border-2
                        dark:bg-white dark:text-gray-700 dark:border-gray-300 hover:dark:bg-gray-200 block">
                    Afficher plus d'infos
                </a>
            </div>
        </div>

        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 flex flex-col col-span-1 md:col-span-2" style="height: 30em;">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"></path>
                    <path fill-rule="evenodd"
                          d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                          clip-rule="evenodd"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Planning du séjour</div>
            </div>
            <div id="mini-calendar"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('showTrip') }}
{% endblock %}