{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    <div class="grid grid-cols-4 gap-4">
        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 col-span-3">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12 7.5a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z"></path>
                    <path fill-rule="evenodd"
                          d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 14.625v-9.75ZM8.25 9.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM18.75 9a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75V9.75a.75.75 0 0 0-.75-.75h-.008ZM4.5 9.75A.75.75 0 0 1 5.25 9h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H5.25a.75.75 0 0 1-.75-.75V9.75Z"
                          clip-rule="evenodd"></path>
                    <path d="M2.25 18a.75.75 0 0 0 0 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 0 0-.75-.75H2.25Z"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Détails des dépenses supplémentaires</div>
            </div>
            <div class="text-sm">Retrouvez les dépenses supplémentaires ajoutées pour votre séjour. Seul les dépenses
                notifiées
                comme achetées seront incluses dans le calcul des dépenses.
            </div>
        </div>

        <a href="{{ path('trip_various_expensive_new', {'trip': trip.id}) }}" class="shadow rounded-3xl py-3.5 px-6 flex flex-col gap-2 items-center justify-center text-center
                          tracking-wide bg-teal-500 text-white
                                    border border-teal-300 hover:bg-teal-600
                                    transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
            <span class="bg-teal-400 rounded-full p-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                          clip-rule="evenodd"></path>
                </svg>
            </span>
            <span>Nouvelle dépense</span>
        </a>
    </div>

    <div class="mt-4">
        {% if not trip.variousExpensives.empty %}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
                {% for expensive in trip.variousExpensives|sort((a, b) => a.id > b.id) %}
                    <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 flex flex-col justify-between">
                        <div class="infos">
                            <div class="font-poppins-semi-bold text-xl">{{ expensive.name }}</div>

                            {% if expensive.description %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Description de la dépense</div>
                                    <span class="block">{{ expensive.description }}</span>
                                </div>
                            {% endif %}

                            <div class="mt-4">
                                <div class="font-poppins-semi-bold">Prix</div>
                                <span class="block">{{ expensive.price }}€ {% if expensive.perPerson %}par personne{% endif %}</span>
                            </div>
                        </div>

                        <div class="footer">
                            <div class="mt-4 flex flex-row flex-wrap gap-2 justify-center items-center">
                                <div class="rounded-full bg-body dark:bg-body-dark w-fit px-3 py-1">
                                    TOTAL <span
                                            class="font-bold">{{ expensive.perPerson ? expensive.price * trip.tripTravelers.count : expensive.price }}€</span>
                                </div>

                                <div class="rounded-full {{ expensive.isPaid ? 'bg-green-400' : 'bg-red-400' }} w-fit text-white px-3 py-1">
                                    {{ expensive.isPaid ? 'Payée' : 'Non payée' }}
                                </div>
                            </div>

                            <a href="{{ path('trip_various_expensive_edit', {'trip': trip.id, 'expensive': expensive.id}) }}"
                               class="block mt-4 bg-blue-500 border-2 border-blue-400 text-white text-center py-2 px-5 rounded-full">Editer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="shadow rounded-3xl bg-red-400 text-white py-3.5 px-6">
                Aucune dépense supplémentaire n'a été trouvée pour ce voyage.
            </div>
        {% endif %}
    </div>
{% endblock %}