{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    <div class="grid grid-cols-4 gap-4">
        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 col-span-3">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M3.375 4.5C2.339 4.5 1.5 5.34 1.5 6.375V13.5h12V6.375c0-1.036-.84-1.875-1.875-1.875h-8.25ZM13.5 15h-12v2.625c0 1.035.84 1.875 1.875 1.875h.375a3 3 0 1 1 6 0h3a.75.75 0 0 0 .75-.75V15Z"></path>
                    <path d="M8.25 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0ZM15.75 6.75a.75.75 0 0 0-.75.75v11.25c0 .087.015.17.042.248a3 3 0 0 1 5.958.464c.853-.175 1.522-.935 1.464-1.883a18.659 18.659 0 0 0-3.732-10.104 1.837 1.837 0 0 0-1.47-.725H15.75Z"></path>
                    <path d="M19.5 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Détails des moyens de transports</div>
            </div>
            <div class="text-sm">Retrouvez les moyens de transports choisis pour votre séjour. Seul les transports
                notifiés comme
                payés seront inclus dans le calcul des dépenses.
            </div>
        </div>

        <a href="{{ path('trip_transports_new', {'trip': trip.id}) }}" class="shadow rounded-3xl py-3.5 px-6 flex flex-col gap-2 items-center justify-center text-center
                          tracking-wide bg-teal-500 text-white
                                    border border-teal-300 hover:bg-teal-600
                                    transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
            <span class="bg-teal-400 rounded-full p-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                          clip-rule="evenodd"></path>
                </svg>
            </span>
            <span>Nouveau transport</span>
        </a>
    </div>

    <div class="mt-4">
        {% if not trip.transports.empty %}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
                {% for transport in trip.transports|sort((a, b) => a.departureDate > b.departureDate) %}
                    <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 flex flex-col justify-between">
                        <div class="infos">
                            <div class="font-poppins-semi-bold text-xl">{{ transport.type.name }}</div>

                            {% if transport.type.name != 'Transports en commun' and transport.type.name != 'Voiture' and transport.departure %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Lieu de départ</div>
                                    <div class="block">{{ transport.departure }}</div>
                                </div>
                            {% endif %}

                            {% if transport.type.name != 'Transports en commun' and transport.type.name != 'Voiture' and transport.destination %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Lieu d'arrivée</div>
                                    <div class="block">{{ transport.destination }}</div>
                                </div>
                            {% endif %}

                            {% if transport.type.name != 'Transports en commun' and transport.type.name != 'Voiture' %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Date et heure</div>
                                    {% if transport.departureDate and transport.arrivalDate %}
                                        <div class="block">
                                            Départ le {{ transport.departureDate|date('d/m/Y à H:i') }}<br>
                                            Arrivée le {{ transport.arrivalDate|date('d/m/Y à H:i') }}
                                        </div>
                                    {% else %}
                                        <div class="block">Non définies</div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if transport.company %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Compagnie de transport</div>
                                    <span class="block">{{ transport.company }}</span>
                                </div>
                            {% endif %}

                            {% if transport.description %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Description de l'offre</div>
                                    <span class="block">{{ transport.description }}</span>
                                </div>
                            {% endif %}

                            {% if transport.type.name == 'Transports en commun' and transport.subscriptionDuration %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Durée de l'abonnement</div>
                                    <span class="block">{{ transport.subscriptionDuration }} jours</span>
                                </div>
                            {% endif %}

                            {% if transport.type.name != 'Voiture' and transport.price %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Prix du transport</div>
                                    <span class="block">{{ transport.price }}€ {% if transport.perPerson %}par personne{% endif %}</span>
                                </div>
                            {% endif %}

                            {% if transport.type.name == 'Voiture' and transport.estimatedToll and transport.estimatedGasoline %}
                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Estimation du péage</div>
                                    <span class="block">{{ transport.estimatedToll }}€</span>
                                </div>

                                <div class="mt-4">
                                    <div class="font-poppins-semi-bold">Estimation du carburant</div>
                                    <span class="block">{{ transport.estimatedGasoline }}€</span>
                                </div>

                                <div class="mt-4 text-sm">
                                    Il s'agit d'une estimation du prix à payer pour l'aller/retour.
                                </div>
                            {% endif %}
                        </div>

                        <div class="footer">
                            <div class="mt-4 flex flex-row flex-wrap gap-2 justify-center items-center">
                                <div class="rounded-full bg-body dark:bg-body-dark w-fit px-3 py-1">
                                    TOTAL <span class="font-bold">
                                        {% if transport.type.name == 'Voiture' %}
                                            {{ transport.estimatedToll + transport.estimatedGasoline }}€
                                        {% else %}
                                            {{ transport.perPerson ? transport.price * trip.tripTravelers.count : transport.price }}€
                                        {% endif %}
                                    </span>
                                </div>

                                <div class="rounded-full {{ transport.isPaid ? 'bg-green-400' : 'bg-red-400' }} w-fit text-white px-3 py-1">
                                    {{ transport.isPaid ? 'Payé' : 'Non payé' }}
                                </div>
                            </div>

                            <a href="{{ path('trip_transports_edit', {'trip': trip.id, 'transport': transport.id}) }}"
                               class="block mt-4 bg-blue-500 border-2 border-blue-400 text-white text-center py-2 px-5 rounded-full">Editer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="shadow rounded-3xl bg-red-400 text-white py-3.5 px-6">
                Aucun moyen de transport n'a été trouvé pour ce voyage.
            </div>
        {% endif %}
    </div>
{% endblock %}