<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <meta name="language" content="fr-FR"/>
    <meta name="Geography" content="France"/>
    <meta name="country" content="France"/>
    <meta name="hreflang" content="fr-FR"/>
    <meta name="Author" content="Adrien GEORGE"/>
    <meta name="Copyright" content="Adrien GEORGE"/>
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-body dark:bg-body-dark dark:text-white" hx-boost="true">
{% block body %}
    <div id="nav"
         class="w-full flex flex-col md:flex-row items-center gap-4 mb-5 py-5 px-7 bg-box dark:bg-box-dark">
        <div class="gap-4 items-center hidden md:flex">
            <img src="{{ asset('build/images/index.png') }}" alt="{{ app_name }}" width="50em">
            <h1 class="text-2xl font-poppins-semi-bold text-teal-500">{{ app_name }}</h1>
        </div>
        <div class="md:border-l flex-col md:flex-row flex-1 flex gap-3 items-center justify-between md:pl-5">
            <div class="welcome-message">
                <div class="text-xl font-roboto-medium">
                    Bonjour, {{ app.user.firstname|capitalize ~ ' ' ~ app.user.lastname|upper }}!
                </div>
                <div class=" font-roboto-thin">Es-tu prêt pour un nouveau voyage?</div>
            </div>
            <div class="flex gap-3">
                <a href="#" class="tracking-wide bg-sky-400 text-white w-40 py-3 rounded-full
                                    flex items-center justify-center hover:bg-sky-600 transition-all duration-300
                                    ease-in-out focus:shadow-outline focus:outline-none">Nouveau voyage</a>
                <a href="{{ path('auth_logout') }}" class="tracking-wide bg-red-400 text-white w-40 py-3 rounded-full
                                    flex items-center justify-center hover:bg-red-600 transition-all duration-300
                                    ease-in-out focus:shadow-outline focus:outline-none">Déconnexion</a>
            </div>
        </div>
    </div>
    <div id="content" class="p-2">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
