{% extends 'trip/base.html.twig' %}

{% block bodyTrip %}
    <div class="grid grid-cols-4 gap-4">
        <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 col-span-3">
            <div class="mb-2 flex flex-row items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                          clip-rule="evenodd"></path>
                </svg>
                <div class="font-poppins-semi-bold text-xl">Liste des voyageurs</div>
            </div>
            <div class="text-sm">
                Définissez quels sont les voyageurs qui prennent part à ce voyage.
                Chaque dépense de ce voyage sera associée à une personne pour savoir qui à payer quoi.
            </div>
        </div>

        <a href="{{ path('trip_traveler_new', {'trip': trip.id}) }}" class="shadow rounded-3xl py-3.5 px-6 flex flex-col gap-2 items-center justify-center text-center
                          tracking-wide bg-teal-500 text-white
                                    border border-teal-300 hover:bg-teal-600
                                    transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
            <span class="bg-teal-400 rounded-full p-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                          clip-rule="evenodd"></path>
                </svg>
            </span>
            <span>Nouveau voyageur</span>
        </a>
    </div>

    <div class="mt-4">
        {% if not trip.tripTravelers.empty %}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
                {% for traveler in trip.tripTravelers %}
                    {% set creator = traveler.invited and trip.traveler.completeName == traveler.invited.completeName %}
                    <div class="shadow rounded-3xl bg-box dark:bg-box-dark py-3.5 px-6 flex flex-col justify-between">
                        <div class="text-center">
                            <div class="font-poppins-semi-bold text-lg ">{{ traveler.name }}</div>
                            {% if creator %}
                                <div class="leading-5">
                                    Vous ne pouvez pas modifier les informations du créateur du séjour.
                                </div>
                            {% elseif traveler.invited and traveler.invited.completeName != trip.traveler.completeName %}
                                <div class="leading-5">Ce voyageur a été invité à rejoindre ce séjour.
                                    {% if trip.traveler.completeName != app.user.completeName %}
                                        <span class="text-center leading-5">Vous ne pouvez pas modifier ses informations.</span>
                                    {% endif %}
                                </div>
                            {% elseif traveler.invited %}
                                <div class="text-center leading-5">
                                    Vous ne pouvez pas modifier les informations d'un utilisateur invité à rejoindre
                                    ce séjour.
                                </div>
                            {% endif %}
                        </div>

                        <div class="footer flex flex-row gap-2 items-center justify-center mt-3">
                            {% if not creator and (not traveler.invited or trip.traveler.completeName == app.user.completeName) %}
                                <a href="{{ path('trip_traveler_edit', {'trip': trip.id, 'traveler': traveler.id}) }}"
                                   class="block bg-blue-500 border-2 border-blue-400 text-white text-center py-2 px-5 rounded-full">Editer</a>
                                <a href="{{ path('trip_traveler_delete', {'trip': trip.id, 'traveler': traveler.id}) }}"
                                   class="block bg-red-500 border-2 border-red-400 text-white text-center
                                      py-2 px-5 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                         fill="currentColor"
                                         class="size-6">
                                        <path fill-rule="evenodd"
                                              d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="shadow rounded-3xl bg-red-400 text-white py-3.5 px-6">
                Aucun voyageur n'a été trouvé pour ce voyage.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}