{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="lg:bg-body dark:bg-body-dark flex items-center justify-center h-full">
        <form method="post"
              class="text-gray-900 flex justify-center sm:items-center
                dark:text-white w-full lg:w-10/12 xl:w-9/12">
            <div class="w-full max-w-screen-lg m-0 lg:m-10 lg:h-auto lg:shadow lg:rounded-5xl overflow-hidden flex justify-center lg:flex-1 flex-none
                   lg:bg-box dark:lg:bg-box-dark">
                <div class="lg:w-3/6 xl:w-6/12 p-6 sm:px-8 lg:py-5 flex lg:flex-none items-center">
                    <div class="flex flex-col px-10">
                        {% include '_flashes.html.twig' with {'not_notif': true} %}
                        <h1 class="mt-12 mb-5 text-xl font-poppins-semi-bold">
                            Changement de <span class="text-teal-500">mot de passe</span>
                        </h1>
                        {{ form_start(resetForm, {attr: {class: 'w-full flex-1 mt-5'}}) }}
                        {{ form_errors(resetForm) }}
                        <div class="relative">
                            {{ form_widget(resetForm.password.first) }}
                            <button type="button"
                                    class="absolute right-4 top-3/4 -translate-y-5 text-gray-500 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
                                    aria-label="Afficher le mot de passe">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="relative">
                            {{ form_widget(resetForm.password.second) }}
                            <button type="button"
                                    class="absolute right-4 top-3/4 -translate-y-5 text-gray-500 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
                                    aria-label="Afficher le mot de passe">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                </svg>
                            </button>
                        </div>
                        <button class="mt-5 mb-10 tracking-wide bg-teal-500 border-2 border-teal-400 text-white w-full py-4
                                    rounded-full flex items-center justify-center hover:bg-teal-700
                                    transition-all duration-300 ease-in-out
                                    focus:shadow-outline focus:outline-none">
                            Terminer la réinitialisation
                        </button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
                <div class="flex-1 text-center hidden lg:flex">
                    <div class="w-full bg-contain bg-center bg-no-repeat mr-14 my-8"
                         style="background-image: url({{ asset('build/images/index.png') }});">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

