{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - A propos de vous{% endblock %}

{% block body %}
    <div class="lg:bg-login-body dark:bg-login-body-dark flex items-center justify-center h-full">
        {{ form_start(form, {'attr': {
            'class': 'text-gray-900 dark:text-white'
        }}) }}
        <h1 class="px-8 lg:px-0 text-2xl font-poppins-semi-bold">Avant de continuer...</h1>
        <h2 class="px-8 lg:px-0 text-xl font-poppins">Nous avons besoin de quelques informations à propos de vous.</h2>
        <div class="w-full max-w-screen-lg mt-5 lg:h-auto lg:shadow lg:rounded-5xl overflow-hidden
                   lg:bg-login-box dark:lg:bg-login-box-dark">
            <div class="px-8">
                <div class="lg:px-5">
                    <div class="my-10">
                        <div class="mb-3 text-xl font-poppins-semi-bold">
                            Renseignez votre <span class="text-teal-500">prénom</span>
                        </div>
                        <div>{{ form_widget(form.firstname) }}</div>
                        <div class="my-3 text-xl font-poppins-semi-bold">
                            Renseignez votre <span class="text-teal-500">nom de famille</span>
                        </div>
                        <div>{{ form_widget(form.lastname) }}</div>
                        <button
                                class="mt-5 tracking-wide bg-teal-500 text-white w-full py-4 rounded-full
                                    flex items-center justify-center hover:bg-teal-700
                                    transition-all duration-300 ease-in-out
                                    focus:shadow-outline focus:outline-none">
                            Confirmer les informations
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}